.contact-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 24px 32px 48px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url('../ASSETS/contact-img-1.jpg');
    background-position: center top;
    background-size: cover;
    height: 400px;
    color: #fff;
    background-repeat: no-repeat;
}

.contact-hero-main-text {
    font-size: 3rem;
    letter-spacing: 4px;
}

.contact-hero-sub-text,
.contact-dir {
    font-size: 1.4rem;
    opacity: 0.8;
}

.href a {
    text-decoration: none;
    font-size: 1.04rem;
    color: #fff;
    line-height: normal;
}

.home-dir {
    transition: color 200ms ease-in;
}

.home-dir:hover {
    font-weight: 500;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 36px 32px 56px;
    box-sizing: border-box;
    align-items: flex-start;
}

.contact-form-content {
    width: 65%;
}

.address {
    width: 25%;
}


/* Media Query */
@media (max-width: 768px) {
    .contact-hero {
        min-height: 90vh;
        text-align: center;
        align-items: center;
    }

    .contact-content,
    .href {
        width: 100%;
    }

}