.short-video {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: max-content;
}

.short-video-holder {}

.youtube-video {}

.short-video-content {}

.short-video-main-text {}

.short-video-sub-text {}

.short-video-author-info {}

.youtube-icon {
    color: rgb(200, 0, 0);
}